<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Crudzinho do Luiz</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    HELLO MUNDO?
    <ul>
        {% for pessoa in pessoas %}
            <li> {{ pessoa.id }} - {{ pessoa.nome }} 
                <a href="{% url 'editar' pessoa.id %}">Editar</a>
                <a href="{% url 'delete' pessoa.id %}">Deletar</a>
            </li>
        {% endfor %}
    </ul>

    <form action="{% url 'salvar'%}" method="POST">
        {% csrf_token  %}
        <input type="text" name="nome">
        <button type="submit">Salvar</button>
    </form>

    <div>
        <img src="images/catblack.jpg" alt="Gato preto sorrindo">
    </div>
</body>
</html>